@tailwind base;
@tailwind components;
@tailwind utilities;
.arrow{
  transition-duration:0.125s;
}
/* Add these styles to animate the arrows on hover */
.arrow:hover .arrow-left {
   transform : translateX(-.65rem);
   transition-duration: 0.125s;
   font-size: 2.35rem;
   transition-timing-function: linear;
}
.arrow:hover .arrow-right {
   transform : translateX(.65rem);
   transition-duration: 0.125s;
   font-size: 2.35rem;
   transition-timing-function: linear;
}